{% extends "base.html" %}
{% load i18n %}
{% load django_bootstrap_breadcrumbs %}
{% load crispy_forms_tags %}
{% load sanitize_html icon %}
{% load dict_func %}
{% load task_taken_func %}
{% load info %}

{% get_current_language as LANGUAGE_CODE %}

{% block title %}{{ article.name }} | {{ course.name }} | {{ course.year }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% if school %}
        {% breadcrumb school.name school.get_absolute_url %}
    {% endif %}
    {% if not seminar %}
        {% breadcrumb course.name course.get_absolute_url %}
    {% else %}
        {% breadcrumb course.name course.get_absolute_url %}
        {% breadcrumb seminar|get_title:LANGUAGE_CODE "" %}
    {% endif %}
    {% breadcrumb article.name "" %}
{% endblock breadcrumbs %}

{% block scripts %}
    {% include "courses/article_js.html" %}
{% endblock scripts %}

{% block navbar %}
    <ul class="nav navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="{{ course.get_absolute_url }}">{% trans "stranica_kursa" %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
               href="{{ course.get_absolute_url }}/gradebook">{% trans "obshaja_vedomost" %}</a>
        </li>
        {% if visible_attendance_log %}
            <li class="nav-item">
                <a class="nav-link hidden-md" href="{{ course.get_absolute_url }}/attendance">{% trans "zhurnal_poseshaemosti" %}</a>
                <a class="nav-link visible-md" href="{{ course.get_absolute_url }}/attendance">{% trans "poseshaemost" %}</a>
            </li>
        {% endif %}
        {% if visible_queue %}
            <li class="nav-item">
                <a class="nav-link" href="{% url "courses.views.queue_page" course.id %}">{% trans "ochered_na_proverku" %}</a>
            </li>
        {% endif %}
        {% if user_is_teacher %}
            <li class="nav-item">
                <a class="nav-link" href="{% url "courses.views.course_settings" course.id %}">{% trans "nastrojki" %}</a>
            </li>
        {% endif %}
    </ul>
{% endblock navbar %}

{% block content %}
    {{ block.super }}
    <style>
        .card {
            margin-bottom: 1.5rem;
            border-bottom-width: 1px;
            border-bottom-color: rgb(221, 221, 221);
            border-bottom-style: solid;
        }

        .card {
            margin-bottom: 0;
            border-bottom-style: none;
        }

        .wiki-article blockquote {
            border-left: 4px solid grey;
            padding-left: 20px;
        }

        .wiki-article table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 1rem;
        }

        .wiki-article table td,
        .wiki-article table th {
            padding: 12px 16px;
            border-right: 1px solid #e8e9eb;
        }

        .wiki-article table thead tr {
            font-weight: bold;
            background: #4197D1;
            color: #fff;
            border-top: 1px solid #e8e9eb;
        }

        .wiki-article table tr {
            border-bottom: 1px solid #e8e9eb;
        }

        .wiki-article table td:last-of-type,
        .wiki-article table th:last-of-type {
            border-right: none;
        }

        .wiki-article table tbody tr:hover {
            background: #e8f6ff;
        }

        .list-group-block {
            overflow: auto;
            max-height: 65vh;
        }

        .margin-left-0 {
            margin-left: 0;
        }

        .articles-list {
            margin-bottom: 20px;
        }

        @media (min-width: 992px) {
            #card_contest .form-group .btn-div {
                margin-top: 0;
            }
        }

        @media (min-width: 768px) {
            .row .col-sm-12:not(:last-child) {
                padding-right: 0;
            }

            .row .col-sm-12:first-child {
                padding-right: 0;
            }

            .articles-list {
                padding: 0 30px;
                margin-bottom: 0;
            }
        }
    </style>

    <div class="row margin-left-0" id="error_text"></div>
    <div class="row">
        <div class="col-lg-3 col-md-12 articles-list">
            <div class="row card card-block m-b-1">
                <h5>{% trans "spisok_statei" %}</h5>
            </div>
            <div class="row list-group list-group-block">
                {% for inner_article in article_list %}
                    {% if inner_article.id == article.id %}
                        <a href="/course/article/{{ inner_article.id }}"
                       class="list-group-item active ellipsis-overflow">{{ inner_article.name }}</a>
                    {% else %}
                        <a href="/course/article/{{ inner_article.id }}"
                       class="list-group-item ellipsis-overflow">{{ inner_article.name }}</a>
                    {% endif %}
                {% endfor %}
            </div>

        </div>
        <div class="col-lg-9 col-md-12 p-x-3 card card-block">
            <h2 class="row">
                {% if user_can_edit %}
                    <div class="col-lg-6 col-md-12">
                        {{ article.name }}
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="btn-group pull-xs-right">
                        <a id="edit-article-button" type="button" class="btn btn-secondary btn-sm"
                           href="/course/edit_article/{{ article.id }}">{% trans "redaktirovat_article" %}</a>
                        <button id="delete-article-modal-button" type="button" class="btn btn-secondary btn-sm">{% trans "udalit_article" %}</button>
                    </div>
                    </div>
                {% else %}
                    <div class="col-md-12">
                        {{ article.name }}
                    </div>
                {% endif %}
            </h2>
            <hr/>
            <div class="wiki-article">
                {{ article.html_body|safe }}
            </div>
        </div>
    </div>

    {% if user_can_edit %}
        <div id="delete-article-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal_article_header" aria-hidden="true">
            <div class="modal-dialog"  role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h5 class="modal-title" id="modal_article_header">{% trans "udalit_article" %}?</h5>
                    </div>
                    <div class="modal-body">
                        <p>{% trans "vi uverenni chto hotite udalit article" %} "{{ article.name }}"?</p>
                    </div>
                    <div class="modal-footer">
                        <form id="delete-article-form" action="{% url 'courses.views.delete_article' article.id %}" method="POST">
                            {% csrf_token %}
                            <input id="delete-article-button" type="submit" class="btn btn-primary" value="{% trans "udalit" %}" data-dismiss="modal">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "zakryt" %}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}