{% load i18n %}

<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.0/styles/default.min.css">

<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.0/highlight.min.js"></script>
<script type="text/javascript">
    hljs.initHighlightingOnLoad();
</script>

<script type="text/javascript">
    $(document).ready(function() {
        $('#delete-article-modal-button').click((e) => {
            e.preventDefault();
            $('#delete-article-modal').modal('show');
        });

        $('#delete-article-button').click(() => {
            let splittedLocation = window.location.href.split('/').filter(part => part.length !== 0);
            let articleId = splittedLocation[splittedLocation.length - 1];
            console.log(articleId);

            $('#delete-article-form').ajaxSubmit({
                success: () => {
                    $('#error_text').html('<div class="alert alert-success" role ="alert" id="edit_task_err">' +
                                    '                                     <a class="close" data-dismiss="alert">&times;</a>' +
                                    '                                     <span>{% trans "udaleno_uspeshno" %}</span>' +
                                    '                                   </div>'
                    );

                    set_disabled();
                },
                error: () => {
                    $('#error_text').html('<div  class="alert alert-danger" role ="alert" id="edit_task_err">' +
                                    '                                     <a class="close" data-dismiss="alert">&times;</a>' +
                                    '                                     <span>{% trans "oshibka_pri_udalenii" %}</span>' +
                                    '                                   </div>'
                    );
                }
            })
        })
    });

    function set_disabled() {
        var d = 'disabled';

        $('#edit-article-button').addClass(d).attr(d, d).prop(d, true);
        $('#delete-article-modal-button').addClass(d).attr(d, d).prop(d, true);
    }
</script>